<!DOCTYPE html>
<html>
  <head>
    <title>{{{ htmlWebpackPlugin.options.title }}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:," />
    {{#if htmlWebpackPlugin.options.hasManifest}}
      <link rel="manifest" href="/manifest.json" />
    {{/if}}
    {{{ htmlWebpackPlugin.options.headTags }}}
  </head>
  <body>
    <div id="app">{{{ htmlWebpackPlugin.options.html }}}</div>
    <noscript>{{{ htmlWebpackPlugin.options.noScriptText }}}</noscript>
    {{#unless stores }}
      <% stores = null %>
    {{/unless}}
    <script>window.__INITIAL_STATE__= {{{ stores }}}</script>
    {{{ htmlWebpackPlugin.options.bodyTags }}}
    {{#if htmlWebpackPlugin.options.includeServiceWorker }}
      <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      </script>
    {{/if}}
    <script>window.__HTML_TAGS__= {{{ htmlWebpackPlugin.options.htmlTags }}}</script>
  </body>
</html>